table.type08 {
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
    border-left: 1px solid #ccc;
    margin: 20px 10px;
}

table.type08 thead th {
    padding: 5px;
    font-weight: bold;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #c00;
    background: #dcdcd1;
}

table.type08 tbody th {
    width: 100px;
    padding: 5px;
    font-weight: bold;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #ececec;
}

table.type08 td {
    width: 100px;
    padding: 5px;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    vertical-align: middle;
}

table.type08 label {
    font-size: 13px;
}

input {
    width:80px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
}

.date {
    width: 200px;
}

.companybtn button {
    width: 100%;
}

.menu a, b {
    border: 5px;
}

.item_count {
    color:blue;
    font-size: 10px;
}

.companyselector {
    width: 150px;
    height: 30px;
    font-size: 15px;
}